<h1>Editing Identity Document Type</h1>

<%= render 'form', identity_document_type: @identity_document_type %>

<%= link_to 'Show', @identity_document_type %> |
<%= link_to 'Back', identity_document_types_path %>
