<div class="row">
    <div class="col-md-6 title">
        <div class="invoice-logo">
            <img src="<%= image_url 'logo/logo.png' %>" >
        </div>
    </div>
                
    <div class="col-md-6">
        <b class="invoice-title">
            BORDERAU D'ENVOI N°: <%= @transfer.uid %>
                
        </b>
        <br>
        Crée le: <%= "#{@transfer.created_at.strftime("%d/%m/%Y")} à #{@transfer.created_at.strftime("%H:%M:%S")}"   %> <br>
        
    </div>
</div>