
    
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="myModalLabel">Nouveau motif de transfert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                

                <%= render 'form', transfer_reason: @transfer_reason %>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
