<div class="search-form">
    <%= form_with url: history_transfers_path, method: :get, local: true, class: "form-inlinee" do |f| %>
        <div class="row">
            
            <div class="col-md">
                <div class="form-group">
                    <%= f.label "MTCN", class: "required" %>
                    <%= f.text_field :mtcn, id: :mtcn, class: "form-control ", placeholder: "MTCN", value: @selected_mtcn, required: true  %>

                </div>
            </div>
            
            

           
            
                    
                
        </div><!-- end row -->
            
   
            


        <div class="row">
            <div class="col-md-12">
                <div class="form-group search-btn">
                    <%= f.submit "Rechercher", class: "btn btn-primary btn-block", :id => "search-button" %>
                </div>
            </div>
        </div>
       

        
    <% end %>
</div>