 
<tr>                  
    <td colspan="5">TOTAL GÉNÉRAL</td>
   
    <td class="blue-amount"><strong><%= number_to_currency @total, unit: "", seperator: ",", delimiter: " " %></strong>
    </td>
    
</tr>