 
<tr class="blue-amount">                  
    <td colspan="4">TOTAL GÉNÉRAL</td>
   
    <td><strong><%= number_to_currency @total, unit: "", seperator: ",", delimiter: " " %></strong>
    </td>
    
</tr>